.why-choose-us-left a{
  background-color: #1a1a1b;
  color: #ffffff;
  padding: 0px 10px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 200px;
  margin-top: 30px;
  font-size: 0.9rem;
}