#our_story{
  background-color: #f5f7fb;
  max-width: 1200px;
  width: 90%;
  margin: 80px auto;
  border: 10px solid #ffffff;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.12);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.our-story-img{
  position: relative;
  display: flex;
}
.our-story-img img{
  width: 85%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.our-stroy-text{
  padding: 50px;
}
.our-stroy-text h2{
  font-size: 2.8rem;
  color: #122853;
  line-height: 3rem;
}
.our-stroy-text p{
  color: #535353;
  font-size: 0.9rem;
  margin: 10px 0px;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}
.our-stroy-text p a{
  color: #122853;
  text-decoration: underline;
}
.story-numbers-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
.story-numbers-box{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.story-numbers-box strong{
  color: #122853;
  font-weight: 700;
  font-size: 1.8rem;
}
.story-numbers-box span{
  color: #535353;
  font-size: 0.9rem;
}
.s-n-box1{
  background-color: #d4dfff;
}
.s-n-box2{
  background-color: #d4e7ff;
}
.s-n-box3{
  background-color: #ffd4fd;
}
.s-n-box4{
  background-color: #d7d4ff;
}